@import '../../styles/commons.scss';

.productList {
  @extend .flex-global;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #ddd8cc;
  width: 100%;
  height: auto;
  border: 2px solid red;

  &__productListTitle {
    border: 2px solid blue;
    border-radius: 5px;
    font-size: 20px;
    margin: 0;
    color: white;
    text-transform: capitalize;
    background-color: green;
    margin: 15px;
  }
  &__box {
    @extend .flex-global;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
}

h3 {
  margin: 0;
}
