@import '../../styles/commons.scss';

.header {
  @extend .flex-global;

  justify-content: space-around;
  align-items: center;
  background-color: #e2ebef;
  width: 100%;
  height: 90px;
  position: sticky;
  top: 0;
  // flex: 0 0 auto;
  //display: inline-flex;
}

img {
  width: 90px;
  height: 90px;
}
