.iconlink {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: box-shadow 0.3s;

  &__icon {
    border-radius: 50%;
    font-size: 32px;
    color: lightgray;
  }

  &__text {
    color: grey;
    font-size: x-small;
  }

  &--hover {
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
      color: #93a42a;
    }
  }
}
