.searchbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  // border: none;
  width: 220px;
  height: 32px;
  overflow: hidden;
  background-color: #f3f6f7;
 

  &__input {
    border: transparent;
    outline-style: none;
    text-indent: 10px;
    text-align: start;
    width: 100%;
    height: 32px;
  }

  &__icon {
    padding: 20px;
    // color: lightgray;
    color: rgb(169 169 169);
  
    &--hover {
      &:hover {
        cursor: pointer;
        border-radius: 50%;
        // box-shadow: 0 0 11px rgba(136, 131, 131, 0.2);
        // color:lightgrey;
        // background-color: rgb(169 169 169);
        // background-color: lightgray;
        background-color: #e2ebef;
      }
    }
  }
}
