:root {
  --color-offwhite-text: #f3f6f7;
  --color-gray-background: rgb(82, 82, 82);
  --color-red-background-NavBar: #e65b5f;
}

.category {
  background-color: #e65b5f;
  color: var(--color-offwhite-text);
  width: 100%;
  height: 50px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  text-transform: capitalize;
}

.list > li > a {
  color: #f3f6f7;
}
.list > li > a:hover {
  color: rgb(82, 82, 82);
}
.list > li > a:active {
  color: #f3f6f7;
}
